body{
    background-color: rgba(249, 245, 237, 0.831);
}
.nav .navbar-brand{
    color: rgba(249, 245, 237, 0.831);
    font-size: 1rem;
}
.jumbotron{
    background-image: url('img/Book-Backgrounds.jpg');
    background-size: cover;
}
#tac{
    text-decoration:line-through;
}
.card{
    min-height: 620px;
}
